{% extends 'base.html.twig' %}{% block title %}Nouvel examen{% endblock %}{% block body %}<div class="hero-card"><p class="eyebrow">Planification</p><h1>Nouvel examen</h1></div>{{ include('examen/_form.html.twig') }}{% endblock %}
