{% extends 'base.html.twig' %}{% block title %}Modifier inscription{% endblock %}{% block body %}<div class="hero-card"><p class="eyebrow">Edition</p><h1>Modifier l’inscription</h1></div>{{ include('candidat_examen/_form.html.twig', {button_label: 'Mettre à jour'}) }}{% endblock %}
