{% extends 'base.html.twig' %}{% block title %}Nouvelle inscription{% endblock %}{% block body %}<div class="hero-card"><p class="eyebrow">Inscription examen</p><h1>Nouvelle inscription</h1></div>{{ include('candidat_examen/_form.html.twig') }}{% endblock %}
