{% extends 'base.html.twig' %}
{% block title %}Modifier candidat{% endblock %}
{% block body %}<div class="hero-card"><p class="eyebrow">Edition</p><h1>Modifier {{ candidat.nomComplet }}</h1></div>{{ include('candidat/_form.html.twig', {button_label: 'Mettre à jour'}) }}{% endblock %}
