{% extends 'base.html.twig' %}
{% block title %}Nouveau candidat{% endblock %}
{% block body %}<div class="hero-card"><p class="eyebrow">Nouveau dossier</p><h1>Créer un candidat</h1></div>{{ include('candidat/_form.html.twig') }}{% endblock %}
